*, *:before, *:after {
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin: auto 1em;
  /* prevent horizontal scrollbar appearing due to negative margin */
  padding-right: 0.5em;
}

/* negative margin hides margin when vertically stacked (mobile),
   but shows margin when horizontally stacked (desktop) */
#container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1.5em;
}

#container > * {
  margin: 0 1.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text],
input[type=number],
label.radio-label,
select,
button {
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

select {
  padding-left: 1px;
  padding-right: 0;
}

form.tin-selector input[type=number],
form.ingredient-entry input[type=number] {
  width: 5em;
  text-align: right;
}

.scaling-factor {
  font-size: 70%;
  font-weight: normal;
}

label.radio-label {
  border: 0;
}

input[type=text]:invalid, input[type=number]:invalid {
  border-color: red;
}

label.radio-label:hover {
  background: #eee;
}

button {
  background-color: #282c34;
  color: white;
  font-weight: bold;
}

button.clear-all {
  background-color: transparent;
  border-color: transparent;
  color: #282c34;
}

button.clear-all:hover {
  background-color: #eee;
  border-color: #ddd;
}

table.ingredient-list {
  border-collapse: collapse;
  border-spacing: 0;
}

table.ingredient-list td, table.ingredient-list th {
  text-align: left;
  padding: 5px 10px;
}

/* We round the top left + bottom left corners of the left
   column, and the top right + bottom right corners of the right
   column, to make it look like a single rounded object */
table.ingredient-list tr:nth-child(even) td:first-child {
  background:#eee;
  border-radius: 5px 0 0 5px;
}
table.ingredient-list tr:nth-child(even) td:last-child {
  background: #eee;
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  input.ingredient-name {
    width: 100px;
  }
}